<div class="list-exhibitions">
  <% @exhibition.each do |exhibition| %>
    <div id="exhibition-<%= exhibition.id %>" class="exhibition">
      <div class="exhibition-header">
        <div class="exhibition-title">
          <div class="row">
            <div class="col-xs-6">
              <h3><%= exhibition.title.capitalize %></h3>
            </div>
            <div class="bottom-align-text col-xs-6">
              <ul class="list-inline product-controls hidden-sm hidden-xs pull-right" style="margin: 15px 15px 0 0;">
                <li>
                  <%= link_to edit_exhibition_path(exhibition) do %>
                    <i class="fa fa-paint-brush" aria-hidden="true"></i>
                  <% end %>
                </li>
                <!-- Button trigger modal -->
                <li>
                  <i class="fa fa-trash" aria-hidden="true" data-toggle="modal" data-target="#myModal"></i>
                </li>
                <!-- Modal -->
                <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
                  <div class="modal-dialog" role="document">
                    <div class="modal-content">
                      <div class="modal-body">
                        <p>Do you realy want to delete this exhibition ?</p>
                      </div>
                      <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
                        <%= link_to exhibition_path(exhibition),
                            method: :delete do %>
                            <button type="button" class="btn btn-danger">Delete exhibition</button>
                        <% end %>
                      </div>
                    </div>
                  </div>
                </div>
              </ul>
            </div>
          </div>
        </div>
        <div class="exhibition-content">
          <div class="row">
            <div class="col-xs-12 col-sm-6 col-md-3 text-center">
              <% exhibition.photos.first.nil? ? (exhibition_picture = 'https://unsplash.it/200x200') : (exhibition_picture = exhibition.photos.first.path) %>
              <%= cl_image_tag exhibition_picture, width: 200, height: 200, crop: :fill, class: "product-image dashboard-card hidden-xs"%>
            </div>
            <div class="col-xs-12 col-sm-6 col-md-3">
              <div class="row">
                <div class="col-xs-12">
                  <p>
                    <i class="fa fa-heart" aria-hidden="true" id="artist-answers" style="color: #f7c843; margin-left: 1px; margin-right: 3px;" ></i> <%= exhibition.bids.count %> <%= pluralize_without_count(exhibition.bids.count, 'artist') %> applied
                  </p>
                </div>
                <div class="col-xs-12">
                  <p>
                    <i class="fa fa-calendar" aria-hidden="true" style="margin-left: 1px; margin-right: 5px;""></i> <%= exhibition.start_date %></p>
                </div>
                <div class="col-xs-12">
                  <p>
                    <i class="fa fa-hourglass-half" aria-hidden="true" style="margin-left: 2px; margin-right: 5px;"></i> <%= exhibition.duration %> months
                  </p>
                </div>
                <div class="col-xs-12">
                  <p>
                    <i class="fa fa-usd" aria-hidden="true" style="margin-left: 4px; margin-right: 8px;"></i> <%= humanized_money(exhibition.price)%>
                  </p>
                </div>
                <div class="col-xs-12">
                  <p>
                    <i class="fa fa-map-marker" aria-hidden="true" style="margin-left: 4px; margin-right: 8px;"></i> <%= truncate(exhibition.address.capitalize, 30) %>
                  </p>
                </div>
                <div class="col-xs-12">
                  <% exhibition.categories.first(2).each do |category| %>
                    <p>
                      <i class="fa fa-bookmark-o" aria-hidden="true" style="margin-left: 3px; margin-right: 7px;"></i> <%= category.name.capitalize %>
                    </p>
                  <% end %>
                </div>
              </div>
            </div>
            <div class="col-xs-12 col-sm-6 col-md-4">
              <% if exhibition.description %>
                <p style="text-align: justify;" >"<%= truncate(exhibition.description, 300) %>"</p>
              <% end %>
            </div>
            <div class="col-xs-12 col-sm-6 col-md-2">
              <div id="payment_button" class="pull-right" style="margin-top: 130px;">
                <% exhibition.bids.each do |bid| %>
                  <%= render "bids/payment_button", bid: bid %>
                <% end %>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="exhibition-bids">
        <% exhibition.bids.each do |bid| %>
          <!-- Card bid -->
          <div class="bid">
            <div class="wrapper">
              <div class="container-bid">
                <div class="row">
                  <!-- artist's card-->
                  <div class="col-xs-12 col-sm-6 col-md-3">
                    <div class="card card-bid text-center">
                      <% bid.user.photo.nil? ? (user_picture = 'https://unsplash.it/150') : (user_picture = bid.user.photo.path) %>
                      <%= link_to artist_users_path(bid.user.id) do %>
                        <%= cl_image_tag user_picture, width: 100, height: 100, crop: :fill, class: 'avatar-medium' %>
                      <% end %>
                      <p class="name"><%= bid.user.first_name %> <%= bid.user.last_name %></p>
                      <hr><br>
                      <!-- Artist specialties -->
                      <div class="product-details bid-details">
                        <p>
                          <% bid.user.categories.order("name ASC").uniq.first(2).each do |category| %>
                            <span class="artist-category"><%= category.name.capitalize %></span>
                          <% end %>
                        </p>
                        <!-- bid status -->

                        <div class="status-toggle" id="status-book-<%= bid.id %>">
                        <% accepted_bid =  exhibition.bids.where(status: "accepted").first %>
                          <p class="bid-status <%= 'bid-selected' if accepted_bid && accepted_bid == bid %>"><%= bid.status.capitalize %></p>
                        </div>
                      </div>
                    </div>
                  </div>
                  <!-- start artist bid pics -->
                    <div class="col-xs-12 col-md-8">
                      <div class="details">
                        <div class="artworks">
                          <% bid.user.artworks.last(4).each do |artwork| %>
                            <%= cl_image_tag artwork_picture(artwork), width: 150, height: 150, crop: :fill, class: "dashboard-card" %>
                          <% end %>
                        </div>
                      </div>
                    </div>
              </div>
              <div class="row">
                <div class="col-xs-3"></div>
                <div class="col-xs-6">
                  <p class="user-desc">
                    <% if bid.user.description %>
                      <%= truncate(bid.user.description, 342) %>
                    <% end %>
                  </p>
                </div>
                <div class="col-xs-2">
                  <!-- CTA : book / payment -->
                  <% accepted_bid =  exhibition.bids.where(status: "accepted").first %>
                  <div class="bid-cta toggle-button pull-right <%= 'hidden' if accepted_bid && accepted_bid != bid %>", id= "button-book-<%= bid.id %>" >
                    <%= render "bids/button_book", bid: bid %>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <!-- Trash top right to delete bid card -->
          <div class="reject">
            <ul class="list-inline product-controls hidden-sm hidden-xs pull-right">
              <li>
                <%= link_to bid_path(bid), method: :delete do %>
                  <i class="fa fa-trash" aria-hidden="true"></i>
                <% end %>
              </li>
            </ul>
          </div>
        </div>
      <% end %>
    </div>
    </div>
    <hr style="border-color: #f7c843;">
  <% end %>
</div>


