  <div class="list-exhibitions">
    <% current_user.exhibitions.each do |exhibition| %>
      <div class="exhibition">
        <div class="exhibition-header">
          <div class="exhibition-title">
            <div class="row">
              <div class="col-xs-12">
                <h3><%= exhibition.title.capitalize %>
                  <ul class="list-inline product-controls hidden-sm hidden-xs pull-right">
                    <li>
                      <%= link_to edit_exhibition_path(exhibition) do %>
                        <i class="fa fa-paint-brush" aria-hidden="true"></i>
                      <% end %>
                    </li>
                    <li>
                      <%= link_to exhibition_path(exhibition),
                          method: :delete,
                          data: {confirm: "Are you sure?"},
                          class: 'pull-right' do %>
                        <i class="fa fa-trash" aria-hidden="true"></i>
                      <% end %>
                    </li>
                  </ul>
                </h3>
              </div>
            </div>
          </div>

          <div class="product">

            <%= cl_image_tag exhibition.photos.first.path, width: 200, height: 200, crop: :fill, class: "product-image dashboard-card hidden-xs"%>
            <div class="product-details bolder-hover">
              <div class="row">
                <div class="col-xs-12">
                  <p><i class="fa fa-heart" aria-hidden="true" id="artist-answers"></i>
                  <%= exhibition.bids.count %>
                   <%= pluralize_without_count(exhibition.bids.count, 'artist') %> candidated</p>
                </div>
                <div class="col-xs-12">
                  <p><i class="fa fa-calendar" aria-hidden="true"></i> <%= exhibition.start_date %></p>
                </div>
                <div class="col-xs-12">
                  <p><i class="fa fa-heartbeat" aria-hidden="true"></i> <%= exhibition.duration %> months</p>
                </div>
                <div class="col-xs-12">
                  <p><i class="fa fa-eur" aria-hidden="true"></i> <%= exhibition.min_price %></p>
                </div>
                <div class="col-xs-12">
                  <p><i class="fa fa-map-marker" aria-hidden="true"></i>  <%= exhibition.address.capitalize %></p>
                </div>
              </div>
            </div>

            <div class="product-description">
            <br>
              <div class="row">
                <div class="col-xs-12">
                  <% if exhibition.description %>
                    <p>"<%= truncate(exhibition.description, 400) %>"</p>
                  <% end %>
                </div>
              </div>
            </div>
            <br>
            <div class="btn-new-small dashboard-cta"> <p>View proposals</p></div>
          </div>
        </div>
        <div class="exhibition-bids">
          <% exhibition.bids.each do |bid| %>
            <div class="bid">
              <div class="reject">
                <%= link_to bid_path(bid), method: :delete do %>
                  <i class="fa fa-times" aria-hidden="true"></i>
                <% end %>
              </div>
              <div class="row">
                <div class="col-xs-12 col-md-3">
                  <div class="user text-center">
                    <h4><%= bid.user.first_name %> <%= bid.user.last_name %></h4>
                    <% user_picture = bid.user.facebook_picture_url || 'https://placehold.it/150x150' %>
                    <%= link_to artist_users_path(bid.user.id) do %>
                      <%= image_tag user_picture, class: 'avatar-medium bordered' %>
                    <% end %>
                    <% if bid.user.description %>
                      <p><%= truncate(bid.user.description, 50) %></p>
                    <% end %>
                  </div>
                </div>
                <div class="col-xs-12 col-md-2">
                  <div class="proposal">
                    <h4 class="underline">Proposal</h4>
                    <div class="row">
                      <div class="col-xs-6 col-md-12">
                        <p><strong>Price :</strong><br><%= bid.price %></p>
                      </div>
                      <div class="col-xs-6 col-md-12">
                        <p><strong>Style :</strong></p>
                        <p>
                          <% bid.user.categories.uniq.each do |category| %>
                            <span class="artist-category"><%= category.name.capitalize %></span>
                          <% end %>
                        </p>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="col-xs-12 col-md-7">
                  <div class="details">
                    <h4 class="underline"><%= pluralize_without_count(bid.user.artworks.count, 'Last artwork') %></h4>
                    <div class="artworks">
                      <% bid.user.artworks.last(5).each do |artwork| %>
                        <%= cl_image_tag artwork_picture(artwork), width: 200, height: 200, crop: :fill, class: "dashboard-card" %>
                      <% end %>
                    </div>
                    <div class="cta">
                      <div class="list-inline">
                        <%= simple_form_for bid do |f| %>
                          <%= f.input :status, input_html: {value: 'accepted'}, as: :hidden %>
                          <%= f.submit "Book this artist !", class: 'pull-right btn-new-small' %>
                        <% end %>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          <% end %>
        </div>
      </div>
    <% end %>
  </div>
</div>
