<h1><%= current_user.first_name %> <%= current_user.last_name %> </h1>
<h3 class="text-center"> Dashboard when you log as a COMPANY</h3>

<% current_user.exhibitions.each do |exhibition| %>
  <h4>Bids related to <%= exhibition.title %> :</h4>
  <% exhibition.bids.each do |bid| %>
    <ul>
      <li><%= bid.status %> | <%= bid.price %> | <%= bid.user.first_name %> <%= bid.user.last_name %> <%= bid.user.email %>
      <%= simple_form_for bid do |f| %>
        <%= f.input :status, input_html: {value: 'accepted'}, as: :hidden %>
        <%= f.submit "v" %>
        <%= link_to bid_path(bid), method: :delete do %>
          <i class="fa fa-trash"></i>
        <% end %>
      <% end %>
      </li>
    </ul>
  <% end %>

  <%= link_to "pay", payment_path(exhibition.id) %>
<% end %>

