<% content_for :body_id, "dashboard" %>
<div class="wrapper padded bg-grey">
  <div class="container">
    <div class="row">
      <div class="col-xs-12">
        <h1 class="underline"><%= current_user.company_name %>'s dashboard</h1>
        <div class="dashboard-nav">
          <ul class="nav nav-pills">
            <li role="presentation" class="active"><%= link_to "To come (#{current_user.exhibitions.count})", "#" %></li>
            <li role="presentation"><%= link_to "Current", "#" %></li>
            <li role="presentation"><%= link_to "Past", "#" %></li>
            <li role="presentation" class="pull-right"><%= link_to "Edit company profile", edit_user_registration_path %></li>
            <li role="presentation" class="pull-right"><%= link_to "Add an exhibition", new_exhibition_path %></li>
          </ul>
        </div>
        <%= render 'list_company_exhibitions' %>
    </div>
  </div>
</div>
