<h1><%= current_user.first_name %> <%= current_user.last_name %> </h1>
<h3 class="text-center"> Dashboard when you log as a COMPANY</h3>

<% current_user.exhibitions.each do |exhibition| %>
  <h4>Bids related to <%= exhibition.title %> :</h4>
  <% exhibition.bids.each do |bid| %>
  <ul>
    <li><%= bid.status %> | <%= bid.price %> | <%= bid.user.first_name %> <%= bid.user.last_name %> <%= bid.user.email %>  </li>
  </ul>
  <% end %>
<% end %>
