<div class="container">
  <div class="row padded">
    <div class="col-xs-10 col-xs-offset-1">
      <h1>Bid show page</h1>
      <hr>
      <br>
      <p>Bid for the following exhibition : <%= @bid.exhibition.title %></p>
      <p>You are registered under the name : <%= @bid.user.first_name %> <%= @bid.user.last_name %></p>
      <p>Your price is : <%= @bid.price %></p>
      <p>Status: <%= @bid.status %></p>

      <% if policy(@bid).edit? %>
        <%= link_to "Edit", edit_bid_path(params[:id]) %>
      <% end %>
    </div>
  </div>
</div>





