// 1.status de la bid change au click
$('#status-book-<%= @bid.id %>').html("<p><i class='fa fa-thumb-tack' aria-hidden='true'></i> <%= @bid.status %></p>");
// 2.bouton de la bid change au click
$('#button-book-<%= @bid.id %>').html("<%= j render 'bids/button_book', bid: @bid %>");
// 3. change statut de tous les autres bids en pending au click
$('.status-toggle:not(#status-book-<%= @bid.id %>)').html("<p><i class='fa fa-thumb-tack' aria-hidden='true'></i> pending</p>");

//  --------- ok ------------

// 4. doit hider les boutons books des autres classes
if ($('.toggle-book').val() === 'Booked') {
  $('.toggle-button:not(#button-book-<%= @bid.id %>)').addClass('hidden');
  // show payment button
  $('#payment_button').removeClass('hidden');
}
else if ($('.toggle-book').val() === 'Book this artist ?') {
  $('.toggle-button:not(#button-book-<%= @bid.id %>)').toggleClass('hidden');
  // hide payment button
  $('#payment_button').toggleClass('hidden');
};
