// change status
$('#status-book-<%= @bid.id %>').html("<p><i class='fa fa-thumb-tack' aria-hidden='true'></i> <%= @bid.status %></p>");
$('#button-book-<%= @bid.id %>').html("<%= j render 'bids/button_book', bid: @bid %>");
$('.bid-cta:not(#button-book-<%= @bid.id %>)');


