<%= simple_form_for(@exhibition) do |f| %>
  <%= f.error_notification %>
  <%= f.input :categories, as: :hidden, :input_html => { :value => @selected_categories_id }  %>
  <%= f.input :styles, as: :hidden, :input_html => { :value => @selected_styles_id }  %>
  <%= f.input :start_date, as: :hidden, :input_html => { :value => @selected_start_date } %>
  <%= f.input :duration, as: :hidden, :input_html => { :value => @selected_duration } %>
  <%= f.input :price, as: :hidden, :input_html => { :value => @selected_price } %>
  <%= f.input :title, placeholder: 'Name of your exhibition', label: false %>
  <%= f.input :description, placeholder: 'Describe your exhibition', label: false %>
  <%= f.input :address, placeholder: 'Address of your exhibition', label: false %>
  <%= f.input :photos, as: :attachinary %>
  <div class="row">
    <div class="col-xs-12 col-sm-4 col-sm-offset-8">
      <%= f.button :submit, class: "btn btn-primary-bis btn-lg btn-block" %>
    </div>
  </div>
<% end %>
