<% content_for :body_id, "form" %>
<div class="container padded">
  <div class="row">
    <div class="col-xs-12">
      <div id="breadcrumb-exhibition">
        <ul class="list-inline text-center">
          <li class="active">Choose Category</li>
          <li>Choose Style</li>
          <li>Choose Your Pack</li>
          <li>Finalize</li>
        </ul>
      </div>
    </div>
    <div class="col-xs-12 col-md-10 col-md-offset-1">
      <h1 class="text-center padded-mini">Select your favorite categories</h1>
      <form action="<%= new_step2_exhibitions_path %>">
        <div id="select-artwork">
          <label>
            <div class="select-item">
              <input type="checkbox" name="selected_categories[]" value="4">
              <div class="artwork-sample">
                <%= image_tag "photography1.png", width: 200, height: 200, crop: :fill %>
              </div>
              <p>Photography</p>
            </div>
          </label>

          <label>
            <div class="select-item">
              <input type="checkbox" name="selected_categories[]" value="3">
              <div class="artwork-sample">
                <%= image_tag "sculpting3.png", width: 200, height: 200, crop: :fill %>
              </div>
              <p>Sculpting</p>
            </div>
          </label>

          <label>
            <div class="select-item">
              <input type="checkbox" name="selected_categories[]" value="2">
              <div class="artwork-sample">
                <%= image_tag "painting.png", width: 200, height: 200, crop: :fill %>
              </div>
              <p>Painting</p>
            </div>
          </label>

          <label>
            <div class="select-item">
              <input type="checkbox" name="selected_categories[]" value="1">
              <div class="artwork-sample">
                <%= image_tag "digital2.jpg", width: 200, height: 200, crop: :fill %>
              </div>
              <p>Digital Art</p>
            </div>
          </label>
        </div>
        <div class="row">
          <div class="col-xs-12 col-sm-4 col-sm-offset-8">
            <div class="padded">
              <input type="submit" class="btn btn-primary-bis btn-lg btn-block" value="Next step">
            </div>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>
