<% link_image = @exhibition.photos.first.path || "banner-artist.jpeg" %>
<div class="banner-company" style="background-image: url('<%= cl_image_path link_image %>');"></div>
  <div class="wrapper exhibition padded">
    <div class="container">
      <div class="row">
        <div class="company-title text-center">
          <h2><%= @exhibition.user.company_name %></h2>
        </div>

   <%= link_to "Back to all Exhibitions", exhibitions_path, class: "links_show pull-right exhibitions-link" %>
        <% if policy(@exhibition).create? %>
            <%= link_to "Go to my dashboard",  dashboard_company_users_path, class: "links_show exhibitions-link"%>
        <% end %>

      <div class="col-xs-12 show-all">
        <div class="list-exhibition list-inline text-center">
          <ul class="list-inline">
            <li><a href=""><i class="fa fa-facebook" aria-hidden="true"></i></a></li>
            <li><a href=""><i class="fa fa-twitter" aria-hidden="true"></i></a></li>
            <li><a href=""><i class="fa fa-linkedin" aria-hidden="true"></i></a></li>
          </ul>
          <li><i class="fa fa-clock-o" aria-hidden="true"></i>Starting: <%= @exhibition.start_date%> |  Ending: <%= @exhibition.end_date%></li>
          <li><i class="fa fa-map-marker" aria-hidden="true"></i><%= @exhibition.address %> </li>
          <br>
          <br>
          <p>DO NOT FORGET: price + Style and Category</p>
        </div>
        <div class="text-center">
          <h2>"<%= @exhibition.title %>"</h2>
          <hr class="separator show-exhibition">
        </div>
      </div>


        <div class="col-xs-12 col-md-6 show-all">
          <div class="description-content">
          <h3>About</h3>
            <p> <%= @exhibition.description %></p>
          </div>
        </div>

        <div class="col-xs-12 col-md-6 bid pull-right">
          <div class="user-paths exhibition-show text-center">
            <div class="card padded-total">
              <p class="text-center"><strong>Apply for this Company</strong></p>
              <br>
              <p>Starting:   <%= @exhibition.start_date%></p>
              <p>Ending:   <%= @exhibition.end_date%></p>
              <hr class="separator">
              <br>
              <p class="text-center"><strong>Your bid</strong></p>
              <% if policy(@exhibition).edit? != true %>
              <%= simple_form_for(@bid) do |f| %>
                <%= f.error_notification %>
                <%= f.input :exhibition_id, as: :hidden, :input_html => { :value => @exhibition.id } %>
                <%= f.input :price %>
                <%= f.button :submit, class: "btn btn-primary" %>
              <% end %>
            <% end %>
          </div>
        </div>
      </div>

      <div class="col-xs-12">
        <div id="carrousel">
          <ul>
            <% @exhibition.photos.each do |photo| %>
            <li><%= cl_image_tag photo.path, width: 1200, height: 600, crop: :fill %></li>
            <% end %>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>







   <%# if policy(@exhibition).edit? %>
                <%#= link_to "Update", edit_exhibition_path(@exhibition) %>
              <%#end %>
              <%# if policy(@exhibition).destroy? %>
                <%#= link_to "Delete Mission", exhibition_path(@exhibition), method: :delete, data: {confirm: "Are you sure?"}, class: "links_show" %>
              <%# end %>




