<!-- banner -->
<div class="banner" style="background: linear-gradient(155deg, rgba(5, 5, 5, 0.6) 10%, rgba(5, 5, 5, 0.2) 80%), url('<%= image_path "office.jpg" %>');"></div>
<div id="slideshow">
  <div class="slide" style="background: linear-gradient(155deg, rgba(5, 5, 5, 0.6) 10%, rgba(5, 5, 5, 0.2) 80%), url('<%= image_path "office2.jpg" %>');">
  </div>
  <div class="slide" style="background: linear-gradient(155deg, rgba(5, 5, 5, 0.6) 10%, rgba(5, 5, 5, 0.2) 80%), url('<%= image_path "office5.jpg" %>');">
  </div>
  <div class="slide" style="background: linear-gradient(155deg, rgba(5, 5, 5, 0.6) 10%, rgba(5, 5, 5, 0.2) 80%), url('<%= image_path "office.jpg" %>');">
  </div>
  <div class="slideshow-content text-center">
    <h1>Enlighten Your Office with Art</h1>
    <p> Exhibit artists of tomorrow in your office</p>
    <p class="vanity-data"> 300 Artists - 80 exhibitions created </p>
    <%= link_to "Create my exhibit", new_step1_exhibitions_path, class: "btn btn-primary btn-lg", id: "custom" %>
  </div>
</div>

<!-- key step-->

<div class="wrapper padded-mini bg-grey">
  <div class="container-fluid">
    <div class="row">
      <div class="smaller-box">
        <h2 class="padded-mini text-center" style="font-family: 'Basic', sans-serif;">An easy process</h2>
        <div class="col-xs-12 col-sm-6 col-md-4 text-center">
          <div class="key-step">
            <div><%= image_tag "create.png" %></div>
            <h3>1-Create your exhibition</h3>
            <p class="key-content">Start creating your exhibition request by following the matching-driven form. When you are done, submit it: Your exhibition request is online. </p>
          </div>
        </div>
        <div class="col-xs-12 col-sm-6 col-md-4 text-center">
          <div class="key-step">
            <div><%= image_tag "artist.png" %></div>
            <h3>2-Artists apply to your exhibition</h3>
            <p class="key-content">Our community of hundreds of artists can now see your exhibition request and apply to bring their art in your offices. </p>
          </div>
        </div>
        <div class="col-xs-12 col-sm-6 col-md-4 text-center">
          <div class="key-step">
            <div><%= image_tag "heart.png" %></div>
            <h3>3-Pick your favorite Artist</h3>
            <p class="key-content">Finalize the process by picking your favorite artist! Your work stop here, Seeedr takes care of the rest.</p>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="text-center">
    <%= link_to "read more", new_exhibition_path, class: "btn btn-primary btn-lg read" %>
  </div>
</div>

<!-- Last artwork-->

<div class="wrapper padded">
  <div class="container">
    <div class="row">
      <h2 class="padded-mini" style="font-family: 'Basic', sans-serif;">Last Artworks from our Artist community</h2>
        <div class="col-xs-12 col-sm-6 col-md-4">
          <div class="artwork-card">
            <div class="content  ">
              <%= cl_image_tag "http://res.cloudinary.com/keven/image/upload/v1496772320/Daft_ojjnjm.jpg", width: 317.48, height: 350, crop: :fill, class: 'home-artwork'%>
              <p class="description">2017 <br> Daft Punk by Riccardo Fano <br> 400mm X 500mm <br> Exclusive edition Giclée Fine Art Print. Printed on 100% cotton, acid-free, heavyweight paper using archival Ultrachrome K3 inks.</p>
            </div>
            <div class="details">
              <h2 class="name text-center">Daft Punk, Riccardo Fano</h2>
            </div>
          </div>
      </div>
      <div class="col-xs-12 col-sm-6 col-md-4">
          <div class="artwork-card">
            <div class="content">
              <%= cl_image_tag "http://res.cloudinary.com/keven/image/upload/v1496660714/image-sculpture_zxyxpk.jpg", width: 317.48, height: 350,  crop: :fill, class: 'home-artwork'%>
              <p class="description">2017 <br> Dimensions: 50 x 100 x 60 Cm | Inch <br> Editions: Unique artwork <br> Sculpture: steel on steel</p>
            </div>
            <div class="details">
              <h2 class="name text-center">New Age, Paradox Créations</h2>
            </div>
          </div>
      </div>
      <div class="col-xs-12 col-sm-6 col-md-4">
          <div class="artwork-card">
            <div class="content">
              <%= cl_image_tag "http://res.cloudinary.com/keven/image/upload/v1496660149/image-paint2_nuze49.jpg", width: 317.48, height: 350, crop: :fill, class: 'home-artwork'%>
              <p class="description">2012 <br> Dimensions: 50 x 40 x 1 Cm | Inch <br> Editions: Unique artwork Painting: acrylic on chassis <br> Framing: the artwork is not framed.</p>
            </div>
            <div class="details">
              <h2 class="name text-center"> Ethiopien, Martin</h2>
            </div>
          </div>
      </div>
      <div class="col-xs-12 col-sm-6 col-md-4">
          <div class="artwork-card">
            <div class="content">
              <%= cl_image_tag "http://res.cloudinary.com/keven/image/upload/v1496660157/image-digital_aospdv.jpg", width: 317.48, height: 350, crop: :fill, class: 'home-artwork'%>
              <p class="description">2017 <br> This numbered edition Giclée Fine Art Print by Enkel Dika is Printed on 100% cotton, acid-free, heavyweight paper using archival Ultrachrome K3 inks</p>
            </div>
            <div class="details">
              <h2 class="name text-center">Flourishing of Life, Enkel Dika</h2>
            </div>
          </div>
      </div>
      <div class="col-xs-12 col-sm-6 col-md-4">
          <div class="artwork-card">
            <div class="content">
              <%= cl_image_tag "http://res.cloudinary.com/keven/image/upload/v1496660352/image-photo2_advegl.jpg", width: 317.48, height: 350, crop: :fill, class: 'home-artwork'%>
              <p class="description">2010 <br> Dimensions: 90 x 90 x 3 Cm | Inch <br> Editions: Edition of 8 <br>Photography : inkjet on fine art paper <br> Framing: frame in wood white</p>
            </div>
            <div class="details">
              <h2 class="name text-center">Interstice #2, Marie Benattar</h2>
            </div>
          </div>
      </div>
      <div class="col-xs-12 col-sm-6 col-md-4">
          <div class="artwork-card">
            <div class="content">
              <%= cl_image_tag "http://res.cloudinary.com/keven/image/upload/v1496660154/image-paint_ggbfdg.jpg", width: 317.48, height: 350, crop: :fill, class: 'home-artwork'%>
              <p class="description">2015 <br> Dimensions: 101 x 76 Cm | Inch <br> Editions: Unique artwork <br> Painting: acrylic on canvas</p>
            </div>
            <div class="details">
              <h2 class="name text-center">23, Gary Paller</h2>
            </div>
          </div>
      </div>
      <div class="col-xs-12 col-sm-6 col-md-4">
          <div class="artwork-card">
            <div class="content">
              <%= cl_image_tag "http://res.cloudinary.com/keven/image/upload/v1496676584/image-homepage_yprk5w.jpg", width: 317.48, height: 350, crop: :fill, class: 'home-artwork'%>
              <p class="description">2016 <br> Dimensions: 100 x 100 Cm | Inch <br> Editions: Unique artwork <br> Painting : aerosol paint on paper</p>
            </div>
            <div class="details">
              <h2 class="name text-center">Sans titre, Jef Aérosol</h2>
            </div>
          </div>
      </div>
      <div class="col-xs-12 col-sm-6 col-md-4">
          <div class="artwork-card">
            <div class="content">
              <%= cl_image_tag "http://res.cloudinary.com/keven/image/upload/v1496773891/max_ycewhb.jpg", width: 317.48, height: 350, crop: :fill, class: 'home-artwork'%>
              <p class="description">2017 <br> Dimensions: 85 x 77 x 18 Cm | Inch <br> Editions: Unique artwork <br>Sculpture: plastic, iron, Wool on steel </p>
            </div>
            <div class="details">
              <h2 class="name text-center">Le serment d'Épictète #6, Max Boufathal</h2>
            </div>
          </div>
      </div>
       <div class="col-xs-12 col-sm-6 col-md-4">
          <div class="artwork-card">
            <div class="content">
              <%= cl_image_tag "http://res.cloudinary.com/keven/image/upload/v1496774582/ike_nimhow.jpg", width: 317.48, height: 350, crop: :fill, class: 'home-artwork'%>
              <p class="description">2010 <br> Dimensions: 90 x 90 x 3 Cm | Inch <br> Editions: Edition of 8 <br>Photography : inkjet on fine art paper <br> Framing: frame in wood white</p>
            </div>
            <div class="details">
              <h2 class="name text-center">Mary & Bob - Why bothering us ?</h2>
            </div>
          </div>
      </div>
    </div>
  </div>
</div>



<!-- testimonial homepage -->

<div class="wrapper padded-bottom bg-grey">
  <div class="container">
    <div class="row">
      <h2 class="padded-mini" style="font-family: 'Basic', sans-serif;">Discover how le Wagon improved his workplace with us</h2>
      <div class="testimonial">
        <div class="col-sm-12 col-md-6">
          <div class="testimonial-content">
            <img src='<%= image_path "boris.jpg" %>' alt="" class="avatar-large">
            <h3>Boris Paillard</h3>
            <p class="status"> CEO of LeWagon</p>
            <p>Boris Paillard, the CEO of LeWagon: "The Parisian office is the flagship of LeWagon’s brand, so it’s very important to have a great workplace that makes you want to join our school. Itis also important for us to break the idea that people code in their room or in their garage. Developpers need a creative environment to give their best, and art definitely makes a difference. Not only alumnis work here, since we organize once a week conferences/meetups/apero-talks. It is a good opportunity for alumnis to meet entrepreneurs and connect with the tech-eco-system. we have got great feedbacks from the people attending our conferences. We organize one conference a week in our offices Seeedr is a great tools to help you rent art from young artist, your only job is to select the right Artist, and that's all. They take car of all the logistic and the artwork's installation." LeWagon is a french coding bootcamp aiming at training developpers in 9 weeks</p>
          </div>
        </div>
        <div class="col-sm-12 col-md-6">
          <div class="testimonial-content text-center">
            <iframe width="560" height="315" src="https://www.youtube.com/embed/tf_oIjOxS2I?ecver=1" frameborder="0" allowfullscreen></iframe>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- reassurance -->

<div class="wrapper padded-mini margin-bottom">
  <div class="container">
    <div class="row">
      <h2 class="padded-total text-center" style="font-family: 'Basic', sans-serif;">Top reasons to display artworks in your company</h2>
      <div class="col-xs-12 col-sm-6 col-md-3 text-center">
        <div class="key-step">
          <div><%= image_tag "puzzle.png" %></div>
          <p>Break down barriers and start creating social link </p>
        </div>
      </div>
      <div class="col-xs-12 col-sm-6 col-md-3 text-center">
        <div class="key-step">
          <div><%= image_tag "megaphone.png" %></div>
          <p>State your company culture through Art</p>
        </div>
      </div>
      <div class="col-xs-12 col-sm-6 col-md-3 text-center">
        <div class="key-step">
          <div><%= image_tag "rocket3.png" %></div>
          <p>Unleash creativity of your teams and partners</p>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- Artist engagement -->
<div class="banner banner-small" style="background-image: linear-gradient(-225deg, rgba(0,101,168,0.6) 0%, rgba(0,36,61,0.6) 50%), url('<%= image_path "banner-artist.jpg" %>');">
  <!-- condition pour afficher "join our community" que si artiste ou si logged out -->
  <div class="banner-content">
    <h1>You are an Artist? Start exposing now!</h1>
    <p> Join our community and get selected to exhibit your creations in the best offices</p>
    <% if user_signed_in? %>
      <% if current_user.is_company %>
        <%= link_to "start experience", root_path, class: "btn btn-primary btn-lg artist-banner" %>
      <% else %>
        <%= link_to "start experience", exhibitions_path, class: "btn btn-primary btn-lg artist-banner" %>
      <% end %>
    <% else %>
      <%= link_to "start experience", new_user_session_path, class: "btn btn-primary btn-lg artist-banner" %>
    <% end %>
  </div>
</div>
